.App {
  text-align: center;
  color: #61dafb;
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  
  color: green;
}

body{
  background-color: #241d1d;
  color: #61dafb;
  padding: 25px;
}

card-text{
  text: #61dafb;

}

.BankGui{
  color: rgb(137, 223, 218);
  font-size: large;
  background-color: #d497e4;
  max-width: 400px;
  max-height: 200px;
  min-width: 400px;
  min-height: 200px;
  padding: 25px;
  margin: 25px;
  border: #ffffff;
  border-radius: 25px;
}
.Auction{

  background-color: #d497e4;
  padding: 25px;
  margin: 50px;
  border: #ffffff;
  border-radius: 25px;
  border-width: 10px;
  
  
}
.Buybox{
  background-color: #3e4d9e;
  display:grid;
}
.card-img-top{

  max-width:200px;
  max-height:200px;

}
.TokenBox{
  display:flex;
  padding: 25px;
  margin: 25px;
}

.AuctionBOX{
  height: 100%;
  width: 100%;
  padding: 25px;
  position: fixed;

  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
